/*stylesheet*/

/* vars */
:root {
	--background-color: #F3F1FF;
	--body-color: #OD3BE8;
}

body{
  margin: 0;
  color: var(--body-color);
  background:  var(--background-color);
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

#MainWrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#AnimationWrapper {
  position:  absolute;
  height: 300vh;
  width:  100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  background-color:  black;
}

.AnimationGIF {
  position: relative;
  left:  50%;
  top:  50%;
  transform: translate(-50%, -50%);
  min-width:  100%;
  max-height: 100%;
}
